.header
{
    min-height: 300px;
    width: 100%;
    text-align: center;
}

.header-layout
{
    margin-top: 80px;
    display: inline-block;
    width: 1350px;
    /*margin-left: 80px;*/
}

.header-layout-profile
{
    float: left;
    width: 32%;
    min-width: 430px;
    min-height: 300px;
    background-color: #fff;
}

.header-layout-profile-main
{
    margin: 0;
    margin-left: 23px;
    margin-top: 35px;
    width: 100%;
    height: auto;
}

.header-layout-profile-main::after
{
    display: table;
    content: " ";
    clear: both;
}

.header-layout-profile-main-avatar
{
    background: url(../images/photo.png) no-repeat 100% 100%;
    min-width: 150px;
    min-height: 150px;
    float: left;
}

.header-layout-profile-main-name
{
    float: left;
    margin-left: 45px;
    vertical-align: middle;
    font-size: 20px;
}

.header-layout-profile-main-name p:first-child
{
    margin: 0;
    margin-top: 45px;
    font-size: 30px;
    color: #33495F ;
    font-family: 'Signika', sans-serif;
    font-weight: normal;
}

.header-layout-profile-main-name p:last-child
{
    font-size: 18px;
    color: #586879 ;
    font-weight: normal;
    text-align: left;
    margin: 0;
}

.header-layout-profile-info
{
    width: 100%;
    margin-top: 35px;
}

.header-layout-profile-info div
{
    display: inline-block;
    width: 25%;
    height: 80px;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 105px;
}

.header-layout-profile-info div:first-child
{
    background: url(../images/profileinfo1.png) #16C4EC no-repeat 49% 32% ;
}

.header-layout-profile-info div:nth-child(2)
{
    background: url(../images/profileinfo2.png) #FA5351 no-repeat 49% 32%;
}

.header-layout-profile-info div:nth-child(3)
{
    background: url(../images/profileinfo3.png) #10CDC1 no-repeat 49% 32%; 
}

.header-layout-profile-info div:last-child
{
    background: url(../images/profileinfo4.png) #33495F no-repeat 49% 31%;
}

.header-layout-rightside
{
    float: right;
    width: 62%;
    min-height: 300px;
    background-color: #fff;
}

.header-layout-rightside-info
{
    float: left;
    width: 54%;
    margin-top: 20px;
    padding-left: 5px;
}

.header-layout-rightside-info span
{
    margin: 0;
    font-size: 38px;
    color: #33495F ;
    font-family: 'Signika', sans-serif;
    font-weight: normal;
    padding-top: 0; 
}

.header-layout-rightside-info p
{
    text-align: justify;
    font-size: 18px;
    color: #586879 ;
    line-height: 1.7;
    margin-left: 30px;
}

.header-layout-rightside-info a
{
    text-decoration: none;
    color:#16C4EC;
}

.header-layout-rightside-info-url
{
    float: left;
    width: 100%;
    height: 50px;
}

.header-layout-rightside-info-url div
{
    height: 50px;
    width: 16%;
    float: left;
    margin-bottom: 10px;
}

.header-layout-rightside-info-url a
{
    margin-left: 25px;
}

.header-layout-rightside-info-url a:first-child
{
    margin-left: 10px;
}

.header-layout-rightside-e-mail
{
    font-family: 'Signika', sans-serif;
    vertical-align: center;
    float: right;
    width: 36%;
    margin-top: 100px;
    margin-right: 25px;
}

.header-layout-rightside-e-mail p:first-child
{
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #33495F ;
    font-size: 24px;
}

.header-layout-rightside-e-mail p:nth-child(2)
{
    margin:0;
    color: #FA5351 ;
    font-size: 20px;
}


