body
{
    font-family: 'Lato', sans-serif;
    background-color: #EAEDF1;
    width: 100%;
    
}

.main
{
    text-align: center;
    width: 100%;
    min-height: 1190px;
}


.main-layout
{
    display: inline-block;
    width: 1350px;
}

.main-layout-left
{
    float: left;
    width: 47%;
    height:1190px;
}

.main-layout-middle
{
    background: url("../images/middle-line.png") center 0 no-repeat;
    float: left;
    height: 1190px;
    width: 7%;
    margin-top: 30px;
}

.main-layout-right
{
    float: right;
    width: 46%;
    height: 1190px;
}

.main-info
{
    margin-top: 30px;
    background-color: #fff;
    height: auto;
    width: 100%;
    padding: 30px 10px 20px 25px;
    text-align: left;
    box-sizing: border-box;
}

.main-info-title
{
    font-family: 'Signika', sans-serif;
    font-size: 24px;
    color: #33495F;
}

.main-info-comment
{
    margin-left: 15px;
    color: #9EA7B4;
    font-size: 18px;
}

.main-info-text
{
    color: #04BCA6;
    font-size: 22px;
    font-family: 'Signika', sans-serif;
}

.main-layout-left ul
{
    margin-top: 25px;
    list-style-image: url("../images/ul-style.PNG");
    padding-left: 30px;
    line-height: 35px; 
    color: #33495F;
}

.main-layout-right hr
{
    border: 1px dashed #C5CCD6;
    margin-top: 35px;
    margin-bottom: 35px;
}

.main-info-footer
{
    margin-top: 30px;
    margin-left: 5px;
}

.main-info-footer-city
{
    display: inline-block;
    color: #9EA7B4;
    margin-left: 10px;
    width: 120px;
}

.main-info-footer-date
{
    display: inline-block;
    color: #9EA7B4;
    width: 200px;
    margin-left: 5px;
}

.main-info-footer-url
{
    display: inline-block;
    height: 40px;
    width: 220px;
    background-color: #16C4EC;
    text-align: center;
    border-radius: 3px;
    text-decoration-line: none;
}

.main-info-footer-url div
{
    color: white;
    margin-top: 10px; 
}

.main-info-footer-url-grey
{
    background-color: #B0BBCA;
}

.main-info-right
{
    background-color: #DBE1E8;
}

.main-info-comment-right
{
    margin-left: 8px;
    font-size: 16px;
}

.main-info-text-right
{
    font-size: 18px;
    color: #00B9D8;
}

.main-info-footer-right
{
    font-size: 14px;
    color: #33495F;
    margin-left: 0px; 
}

.main-info-footer-url-cyan
{
    background-color: #10CDC1;
    width: 210px;
}

.main-info-footer-stars
{
    margin-left: 120px;
}

.main-abbilites
{
    background-color: #fff;
    width: 100%;
    height: 400px;
    margin-top: 30px;
    box-sizing: border-box;
    padding: 15px 15px 35px 15px;
}

.main-abbilites-top
{
    width: 100%;
    height: 105px;
    margin-bottom: 40px;
    text-align: center;
}

.main-abbilites-top-abbility
{
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-left: 19px; 
}

.main-abbilites-top-abbility-img
{
    width: 100%;
    height: 100%;
}

#icon-ability-first
{
    background: url(../images/ability1.png) center center no-repeat;
}

#icon-ability-second
{
    background: url(../images/ability2.png) center center no-repeat;
}

#icon-ability-third
{
    background: url(../images/ability3.png) center center no-repeat;
}

#icon-ability-fourth
{
    background: url(../images/ability4.png) center center no-repeat;
}

#icon-ability-fifth
{
    background: url(../images/ability5.png) center center no-repeat;
}

#icon-ability-sixth
{
    background: url(../images/ability6.png) center center no-repeat;
}

.main-abbilites-top-abbility-title
{
    font-size: 13px;
    color: #7E8894;
    margin-top: 10px;
}

.main-abbilites-bot
{
    margin: 20px 20px 20px 5px;
    width: 100%;
    height: 200px;
    text-align: left;
}

.main-abbilites-bot-leftside
{
    float: left;
    width: 270px;
    color: #34495E;
}

.main-abbilites-bot-leftside progress
{
    border: none;
    height: 14px;
    width: 100%;
    border-radius: 100px;
}

.main-abbilites-bot-leftside progress::-webkit-progress-bar
{
    background: #DBE1E8;
    border-radius: 100px;
}

.main-abbilites-bot-leftside progress::-webkit-progress-value
{
    background: #10CDC1; 
    border-radius: 100px;
}

.main-abbilites-bot-leftside-Photoshop img
{
    position: relative;
    left: 115px;
    top: 5px;
    margin-bottom: 5px;
}

.main-abbilites-bot-leftside-Illustrator img
{
    position: relative;
    left: 55px;
    top: 5px;
    margin-bottom: 5px;
}

.main-abbilites-bot-leftside-Wordpress img
{
    position: relative;
    left: 155px;
    top: 5px;
    margin-bottom: 5px;
}

.main-abbilites-bot-leftside-Prestashop img
{
    position: relative;
    left: 125px;
    top: 5px;
    margin-bottom: 5px;
}


/*abilitys right side*/

.main-abbilites-bot-rightside
{
    float: right;
    width: 270px;
    margin-right: 5px;
}

.main-abbilites-bot-rightside progress
{
    border: none;
    height: 14px;
    width: 100%;
    border-radius: 100px;
}

.main-abbilites-bot-rightside progress::-webkit-progress-bar
{
    background: #DBE1E8;
    border-radius: 100px;
}

.main-abbilites-bot-rightside progress::-webkit-progress-value
{
    background: #16C4EC; 
    border-radius: 100px;
}

.main-abbilites-bot-leftside-Referencement img
{
    position: relative;
    left: -20px;
    top: 5px;
    margin-bottom: 5px;
}

.main-abbilites-bot-leftside-Reseaux img
{
    position: relative;
    left: 65px;
    top: 5px;
    margin-bottom: 5px;
}

.main-abbilites-bot-leftside-UIDesign img
{
    position: relative;
    left: 55px;
    top: 5px;
    margin-bottom: 5px;
}

.main-abbilites-bot-leftside-Userexperiecne img
{
    position: relative;
    left: 20px;
    top: 5px;
    margin-bottom: 5px;
}